h1{
    color:green;
    font-family:sans-serif;
}

p{
    
    font-family:Helvetica,sans-serif;
}

ul{
   list-style-type: circle;
}

ol{
   list-style-type:upper-roman
}

#menu-bar a{
    font-family:Helvetica,sans-serif;
    text-decoration: none;
    background-color:aquamarine;
    padding:5px;
}

#mneu-bar a:hover{
    background-color:aqua;
    color:#ffffff;
}